{% extends "main.html" %}

{% block title %}О нас (точнее обо мне){% endblock %}

{% block content %}
<h2>О проекте</h2>
<div class="container" style="width:100%;">
    <div class="half" id="left">
        <h3 style="font-weight: bold;">Статистика сайта rp5</h3>
        <p style="width:100%;">
            Это что, новый стильный проект от Манки? Верно! А ещё этот сайт готов пройти и выстоять проверку от блондинки. (но это не точно) <br>
          Сайт показывает максимальную, минимальную и среднюю температуру на выбранную дату
      </p>

        <a href="{{ url_for("main_page") }}" id="solve-btn">Назад</a>
    </div>
</div>



{% endblock %}