{% extends "layout.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
<h2>О проекте</h2>
<div class="container" style="width:100%;">
    <div class="half" id="left">
        <h3 style="font-weight: bold;">Статистика сайта Tibox</h3>
        <p style="width:100%;">
            "WhyIsNotTibox" - это умный сервис для анализа расписания и нагрузки в учебных заведениях. Сервис предоставляет преподавателям и студентам детальный анализ, позволяя видеть, как распределена нагрузка в расписание за определенный период(за две недели от выбранного вами даты). Он предоставляет информацию, которая помогает пользователям самостоятельно принимать обоснованные решения для оптимизации учебного процесса. Удобный и простой интерфейс делает использование сервиса максимально интуитивным, помогая пользователям эффективно управлять расписанием и повышать эффективность образовательного процесса.<br><br>
            Пользовательское соглашение:<br>
            <b>Этот проект вредит сайту Tibox.tk, поэтому при использование данного сервиса вы соглашаетесь, что если сайт Tibox.tk упадёт во время использования и в течение 30 минут после использования данного сервиса, то вы несёте ответственность за данный инцедент, а, значит, и обязаны возместить владельцу сайта(Иванову Андрею Сергеевичу) всем моральные и материальные издержки в плоть до восстановления работы сайта Tibox.tk!</b><br>
            Спасибо за внимание!
        </p>

        <a href="{{ url_for("main_page") }}" id="solve-btn">< Назад</a>
    </div>
</div>




{% endblock %}