<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>WhyIsNotTIBOX - {% block title %}{% endblock %}</title>
</head>
<body>

    <header>
        <a href="{{ url_for("main_page") }}" id="logo"><img src="https://tibox.tk/static/favicon.ico" widht="32" height="32"></img>Tibox</a>
        <a href="#how-it-works">Как работает?</a>
        <a href="#solver">Запрос на статистику</a>
        <a href="{{ url_for('aboutus') }}">О проекте</a>
    </header>

    <div id="how-it-works">
        <h1>Как это работает?</h1>
        <p>Нужно ввести нужные параметры(времени, типа анализа) и уже после нажать получить статистику!</p>
    </div>

    <div id="solver">
        {% block content %}
        {% endblock %}
    </div>


    <footer id="footer">
        <p>© 2023 TimeBoxParser. Создано <a href="https://github.com/AlphaO612" style="color: #FFF">Arefa Satellite</a></p>
    </footer>
</body>
</html>
