<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>MankaSite - {% block title %}{% endblock %}</title>
</head>
<body>

    <header>
        <a href="{{ url_for("main_page") }}" id="logo">PogodaMankii</a>
        <a href="#how-it-works">Как работает?</a>
        <a href="#solver">Запрос на статистику</a>
        <a href="{{ url_for('about') }}">О проекте</a>
    </header>

    <div id="how-it-works">
        <h1>Как это работает?</h1>
        <p>Введите город, в котором Вы живете, и получите статистику на неделю.</p>
    </div>

    <div id="solver">
        {% block content %}
        {% endblock %}
    </div>


    <footer id="footer">
        <p>© 2023 Мария Асауляк</p>
    </footer>
</body>
</html>
